server:
    port: 8080

spring:
    application:
        name: dba-gateway
    cloud:
        config:
            enabled: false
        gateway:
            discovery:
                locator:
                    enabled: true
            default-filters:
                - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
            globalcors:
                cors-configurations:
                    '[/**]':
                        allowedOrigins:
                            - "http://localhost:4200"
                            - "http://localhost:3000"
                            - "http://localhost:8100"
                            - "http://localhost"
                            - "http://127.0.0.1"
                        allowedMethods:
                            - GET
                            - POST
                            - PUT
                            - DELETE
                            - OPTIONS
                            - PATCH
                        allowedHeaders: "*"
                        allowCredentials: true
                        maxAge: 3600
            routes:
                - id: dba-professor-id
                  uri: lb://DBA-PROFESSOR
                  predicates:
                      - Path=/api/professors/**
                - id: dba-students-id
                  uri: lb://DBA-STUDENTS
                  predicates:
                      - Path=/api/students/**
                - id: dba-courses-id
                  uri: lb://DBA-COURSES
                  predicates:
                      - Path=/api/courses/**

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/

# spring.application.name=dba-gateway
