server:
  port: 8761
  enable-self-preservation: false
  eviction-interval-timer-in-ms: 5000
  response-cache-update-interval-ms: 5000

spring:
  application:
    name: dba-eureka
  cloud:
    compatibility-verifier:
      enabled: false
    config:
      enabled: false

eureka:
  instance:
    hostname: localhost
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:${server.port}/eureka/
